*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 10rem; */
    /* align-items: center; */
    /* justify-content: center; */
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.brand-name{
    color: aliceblue;
    font-weight: bolder;
}
.navbar{
    display: flex;
    padding: 2rem;
}
.navbar a, .login a{
    text-decoration: none;
    font: 0.5rem;
    color: azure;
}
.login button{
    background-color:aqua;
    padding: 0.5rem;
    border-color: aqua;

}
.cover1-content{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: aliceblue;
}
.get-learn button{
    height: 3rem;
    width: 10rem;
    background-color: transparent;
    border-radius: 2rem;
    color: aliceblue;
}
.get-learn #quote{
    background-color: aqua;
    border-color: aqua;
}
.hero-cover{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* flex: 0.8; */
    background-image: url("./images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.cover1-cards{
    /* flex: 0.2; */
    display: flex;
    /* width: 100%; */
    margin-top: -5rem;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    box-sizing: border-box;
    gap: 0.5rem;
    border: 2px solid yellow;
}
.peace-of-mind{
    height: 10rem;
    width: 20rem;
    z-index: 1000;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.container-cards2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10rem;

}
.peace-of-mind2{
    height: 10rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: tomato;
    margin-top: 8rem;
    padding: 1rem;
    justify-content: space-between;
    /* align-content: center; */
}
.page-two{
    width: 100%;
    height: 120h;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.industry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.users{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border: 2px solid black;
    justify-content: space-evenly;
    margin-top: 20vh;
}
.user1, .user2, .user3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    /* justify-content: space-evenly; */
}
.user-text{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.user1-image > img{
    width: 5rem;
}
/* .user2-image, .user3-image */
.vector{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    padding: 1.5rem;
    margin-top: 10vh;
}
.vector > img{
    height: 2.5rem;
    width: 4rem;
}
.subscribe-newsletter{
    /* max-width: 100%; */
    width: 90%;
    margin: auto;
    background: rgba(5,70,136,255);
    background: linear-gradient(
        to right,
        rgba(6,70,136,255),
        rgba(206,22,137,255)
    );
    padding: 20px 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-three{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid darkgreen;
}
.pricing-title{
    flex: 0.15;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    /* padding: 1.5rem; */
}
.pricing-plans{
    flex: 0.85;
    border: 2px solid aqua;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

}
.free, .premium{
    width: 20%;
    height: 80%;
    border:2px solid#b6dff7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    justify-content: space-evenly;
    border-radius: 0.5rem;
}
.standard{
    width: 20%;
    height: 90%;
    border:2px solid#b6dff7;
    background-color: rgba(37,43,66,255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    color: antiquewhite;
    margin-top: -3rem;
}
.free-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.price-cost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #23a6f0;
    font-weight: bolder;
    gap: 0.5rem;
}
.try-for-free > button{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #23a6f0;
    border: none;
    border-radius: 0.2rem;
}
.free-middle> p > ion-icon, .premium-middle> p > ion-icon, .standard-middle> p > ion-icon{
    color: #2dc071;
}
.page-four{
    width: 100%;
    height: 90vh;
    background-color: #252b42;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.page-four-image{
    /* height: 20%; */
    margin-top: -10rem;
    width: 50%;
    height: 50%;
    border: 2px solid red;
    padding: 3rem 5rem 3rem 5rem;
}
.page-four-text{
    width: 50%;
    height: 50%;
    margin-top: -10rem;
    border: 2px solid red;
    padding: 3rem 5rem 3rem 5rem;
    color: antiquewhite;

}
.page-four-image > img{
    height: 100%;
    width: 100%;
}
.last-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    border: 2px solid red;
}
.company-info{
    display: flex;
}
.consulting{
    display: flex;
}
.contact-form{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
}
.appointment-image > img{
    height: 100%;
    width: 100%;

}