@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
}
.container{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    /* margin: 10rem; */
    /* align-items: center; */
    /* justify-content: center; */
}

.top-nav{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}
.brand-name{
    color: aliceblue;
    font-weight: bolder;
}
.navbar{
    display: flex;
    box-sizing: border-box;
    gap: 2rem;
    /* padding: 2rem; */
    /* gap: 0.8rem; */
}
.navbar a, .login a{
    text-decoration: none;
    font-size:1rem;
    color: azure;
    cursor: grab;
}
.login button{
    background-color: #23a6f0;
    padding: 0.4rem;
    color: white;
    border: none;
    border-radius: 0.2rem;

}
.cover1-content{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: aliceblue;
}
.cover1-content h2{
    font-size:4rem;
    text-align: center;
}
.get-learn button{
    height: 3rem;
    width: 10rem;
    background-color: transparent;
    border-radius: 2rem;
    color: aliceblue;
    /* border: none; */
    font-size: 0.9rem;
}
.get-learn #quote{
    background-color: #23a6f0;
    border: none;
}
.get-learn #learn{
    border-color:#ffffff;
}
.hero-cover{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-image:linear-gradient(rgba( 0,0,0,0.6) ,rgba( 0,0,0,0.6)), url(./images/hero.png);
    /* background-image: url("./images/hero.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cover1-cards{
    /* flex: 0.2; */
    display: flex;
    /* width: 100%; */
    margin-top: -5rem;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    box-sizing: border-box;
    /* gap: 0.5rem; */
    /* border: 2px solid yellow; */
}
.peace-of-mind{
    height: 10rem;
    width: 20rem;
    z-index: 1000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* align-items: center; */
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    box-shadow: -2px 10px 5px 0px rgba(230,209,209,0.75);
}
.container-cards2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10rem;

}
.peace-of-mind2{
    height: 10rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-top: 8rem;
    padding: 1rem;
    justify-content: space-evenly;
    /* align-content: center; */
}
.page-two{
    width: 100%;
    height: 120h;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.industry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin: 1rem;
}
.industry h2, .pricing-title h2, .page-four-text h2{
    font-weight: 800;
    font-family: 'Montserrat';
    font-style: normal;
}
.users{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* border: 2px solid black; */
    justify-content: space-evenly;
    margin-top: 20vh;
}
.user1, .user2, .user3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    /* justify-content: space-evenly; */
}
.user-text{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.user1-image > img{
    width: 5rem;
}
/* .user2-image, .user3-image */
.vector{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    padding: 1.5rem;
    margin-top: 10vh;
}
.vector > img{
    height: 2.5rem;
    width: 4rem;
}
.subscribe-newsletter{
    /* max-width: 100%; */
    width: 90%;
    margin: auto;
    background: rgba(5,70,136,255);
    background: linear-gradient(
        to right,
        rgba(6,70,136,255),
        rgba(206,22,137,255)
    );
    padding: 20px 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group input{
    padding: 0.5rem;
}
.input-group button{
    align-items: center;
    background-color:aqua;
    padding: 0.5rem;
    color: #ffffff;
    border: none;
}
.page-three{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid darkgreen; */
}
.pricing-title{
    flex: 0.15;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    /* padding: 1.5rem; */
}
.pricing-plans{
    flex: 0.85;
    /* border: 2px solid aqua; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

}
.free, .premium{
    width: 20%;
    height: 80%;
    border:2px solid#b6dff7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    gap: 1rem;
}
.standard{
    width: 20%;
    height: 90%;
    border:2px solid#b6dff7;
    background-color: rgba(37,43,66,255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    color: antiquewhite;
    margin-top: -3rem;
    gap: 1rem;
}
.free-content, .standard-content, .premium-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.price-cost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #23a6f0;
    font-weight: bolder;
    gap: 0.5rem;
}
.try-for-free > button{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #23a6f0;
    border: none;
    border-radius: 0.2rem;
}
.free-middle> p > ion-icon, .premium-middle> p > ion-icon, .standard-middle> p > ion-icon{
    color: #2dc071;
}
.page-four{
    width: 100%;
    height: 90vh;
    background-color: #252b42;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.page-four-image{
    /* height: 20%; */
    margin-top: -10rem;
    width: 50%;
    height: 50%;
    /* border: 2px solid red; */
    padding: 3rem 5rem 3rem 5rem;
}
.page-four-text{
    width: 50%;
    height: 50%;
    margin-top: -10rem;
    /* border: 2px solid red; */
    padding: 3rem 5rem 3rem 5rem;
    color: antiquewhite;

}
.page-four-image > img{
    height: 100%;
    width: 100%;
}
.last-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 5rem; */
    /* border: 2px solid yellow; */
}
.company-info{
    /* width: 100%; */
    box-sizing: border-box;
    display: flex;
    margin: 3rem 9rem;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    /* gap: 2rem; */
    /* padding: 30px 30px 30px 30px; */
}
.footer{
        /* width: 100%; */
        box-sizing: border-box;
        display: flex;
        margin: 3rem 9rem;
        justify-content: space-between;
        /* border: 2px solid yellow; */
        /* gap: 2rem; */
        /* padding: 30px 30px 30px 30px; */
}
.consulting{
    display: flex;
    /* width: 100%; */
    box-sizing: border-box;
    margin: 3rem 9rem;
    justify-content: space-between;
    align-items: center;
}
.consulting button{
    all: unset;
    padding: 0.5rem 1rem;
    background-color: #23a6f0;
    border-radius: 3px;
    color: antiquewhite;
    font-weight: 700;
}
.contact-form{
    display: flex;
    height: 65vh;
    /* width: 100%; */
    box-sizing: border-box;
    /* justify-content: space-between; */
    gap: 1rem;
    margin: -12rem 20rem 3rem 20rem;
    /* border: 2px solid yellow; */
    z-index: 100;
    background-color: white;

}
.appointment-image{
    width: 30%;
}
.details-form{
    width: 70%;
    /* background-color: red; */
    padding: 2rem;

}
.appointment-image > img{
    height: 100%;
    width: 100%;

}
.details-form input, .details-form select, .details-form button {
    width: 100%;
    padding: 0.5rem;
    background-color: #23a6f0;
    border: none;
    
}
.details-form button{
    color: #ffffff;
    border-radius: 0.2rem;
}
.details-form input, .details-form select{
    background-color: #f9f9f9;
}
.details-form h4{
    text-align: center;
    margin-bottom: 2rem;
}
.peace-of-mind ion-icon, .peace-of-mind2 ion-icon{
    font-size: 3rem;
    color: #2daaf1;
}
.peace-blue{
    background-color: #2daaf1;
    color: white;
}
.peace-blue ion-icon{
    color: #ffffff;
}
.consulting h4{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
.get-in-touch ion-icon{
    font-size: 1.3rem;
    color: #2daaf1;
}
.social-icons ion-icon{
    color: #2daaf1;
}


@media all and (max-width:393px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat';
        font-style: normal;
    }
    .company-info{
        /* margin: 3rem 9rem; */
        margin: 0;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        gap: 1rem;
        width: 100%;
        text-align: center;
    }
    .footer{
        /* margin: 3rem 9rem; */
        /* margin: 0; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* box-sizing: border-box; */
        /* margin: 3px 9px; */
        justify-content: space-between;
    }
    .contact-form{
    margin: 0;
    width: 100%;
    height: 50vh;
/* background-color: #23a6f0; */
    }
    .pricing-plans{
        flex-direction: column;
        flex: 1;
    }
    .free, .premium, .standard{
        width: 80%;
        margin: 1rem auto;
    }
    .page-three{
        height: auto;
    }
    .page-four{
        flex-direction: column;
    }
     /* .page-four-image{
        margin: 0.5rem 0.5rem;
    } */
    .page-four-text,   .page-four-image{
        width: 100%;
        height: auto;
        margin: 0.5rem 0.5rem;
        /* border: 2px solid red; */
        padding: auto;
        text-align: center;
        /* color: antiquewhite; */
    
    }
    .page-four-text h2 {
        margin-bottom: 2rem;

    }
    .appointment-image{
        width: 50%;
    }
    .consulting{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 2rem 1rem;
        gap: 2rem;
    }
    .navbar{
        gap:1rem;
    }
    .top-nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 10px;
    }
    .cover1-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-cards2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .peace-of-mind2{
        height: 15rem;
    }
    .industry{
        margin-top: -2rem;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .users{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 30%;
    }
    .user-text{
        text-align: center;
    }
    .vector>img{
        height: 1rem;
        width: 2rem;
    }
    .subscribe-newsletter{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 20px;

    }
    .pricing-title{
        /* margin-top: -2rem; */
        display: flex;
        align-items: center;
        text-align: center;
    }
    .free,.premium,.standard{
        height: 30rem;
    }
    .premium-middle p, .free-middle p, .standard-middle p{
        /* background-color: red; */
        padding: 0.3rem;
    }
    .user1,.user2,.user3{
        padding: 10px;
    }
    .footer-text{
        text-align: center;
    }
    .social-icons span{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .cover1-content h2{
        font-size:3.5rem;
        text-align: center;
    }

    
}